@font-face {
  font-family: "BerkeleyMono";
  src: url("https://radiant.earth/fonts/BerkeleyMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "BerkeleyMono";
  src: url("https://radiant.earth/fonts/BerkeleyMono-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "BerkeleyMono";
  src: url("https://radiant.earth/fonts/BerkeleyMono-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "BerkeleyMono";
  src: url("https://radiant.earth/fonts/BerkeleyMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("https://radiant.earth/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("https://radiant.earth/fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("https://radiant.earth/fonts/IBMPlexSans-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("https://radiant.earth/fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

#mc_embed_signup {
    margin: .5em 0 2em 0;
    clear:both;
    overflow:hidden;
}

#mce-EMAIL,#mc-embedded-subscribe {
    float:left;
    font-size: .8em;
    font-family: "BerkeleyMono", monospace;           
}

input#mce-EMAIL {
    width:50%;
    padding:.4em;
    box-sizing: border-box;
    border:1px solid #24292E;
    border-radius: 4px;
    margin:0 .5em 0 .1em;
}

#mc-embedded-subscribe {
    float:left;
    font-size: .8em;
    font-family: "BerkeleyMono", monospace;           
}

input#mc-embedded-subscribe {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: "BerkeleyMono", monospace;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: .4em .5em;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

input#mc-embedded-subscribe:hover {
  background-color: #AACBEA;
  text-decoration: none;
  transition-duration: 0.1s;
}

input#mc-embedded-subscribe:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

input#mc-embedded-subscribe:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

input#mc-embedded-subscribe:focus {
  outline: 1px transparent;
}

input#mc-embedded-subscribe:before {
  display: none;
}

input#mc-embedded-subscribe:-webkit-details-marker {
  display: none;
}

div#placeholder {
    display:block;
    margin:2em auto;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-size: 2.3rem;
    font-family: "IBMPlexSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #2f343b;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-wrap: break-word;
}

header#page-header, footer {
    background-color: #eeeff1;
}

hr {
    background-color: #CCC;
    border: 0 none;
    color: #CCC;
    height: 1px;
    clear:both;
}

iframe {
    margin:2em 0 0 0;
}

path#hex g#cnglogohex, path#a{
    fill:url(#CNGGradient);
}

a.readmore {
}
a.readmore:hover path.minihex {
    fill:url(#MinihexGradient);
}

div#banner {
    padding: 1em 0 .5em 0;
}

div#logo {
    margin: .2em 0 .5em 0;
    display:block;
}

div#logo svg {
    width:70%;
}

a {
    color: #0B5FBF;
    text-decoration: underline;
}

header#nav a:hover, main#content a:hover {
    background: -webkit-linear-gradient(-65deg, #53B4FF 0%, #0B5FBF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-box-decoration-break:clone;
    text-decoration: none;
    transition: background .2s ease-in;
}

div#banner h2 {
    display: inline;
    font-size: 1.8rem;
    margin: 0 8px 0 0;
}

div#banner nav {
    float:left;
}

div#banner nav ul {
    list-style-type: none;
    font-size: .8em;
    font-weight: 600;
    margin: 0 0 1em 0;
    padding: 0;
    align-self:flex-end;
}

div#banner nav ul li {
    display: inline;
    margin: 0 1em 0 0;
}

div#banner nav ul li:first-child.hide {
    display:none;
}

main {
    margin-bottom:2em;
}

div#banner, main#content, main#content h2, main#content h3, footer p, main ul#homepage-blog, main#content ol, main#content ul, #mc_embed_signup {
    margin-left:1em;
    margin-right:1em;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-bottom: 0;
    line-height: 1.15;
}

main#content h2 {
    font-size: 1em;
    margin:1em 0 0 0;
}

main#content h3 {
    font-size: 1.1em;
    margin:1em 0 0 0;
    font-weight: 600;
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 5px;
}

main#content p {
    color: #394548;
    margin: 16px 0;
}

main#content article p, main#content article li {
    font-size:.8em;
    line-height: 1.7;
}

main#content article li ul li {
    font-size: 100%;
} 

main#content article ul li {
    margin-bottom: .5em;
} 

main#content #aboutpage p {
    float:left;
}

main#content #aboutpage h3 {
    clear:both;
}

main#content #aboutpage h2 {
    text-align: center;
}

main#content #aboutpage small {
    display:block;
    line-height:120%;
}

main#content hr {
    height: 1px;
    border: 0;
    background: #666666;
}

main#content abbr {
    cursor: help;
}

/* index.html styles */
main#content ul#posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main#content ul#posts li {
    margin: 1.5em 0;
    padding: 0;
}

main#content ul#posts a {
    text-decoration: none;
}

main#content ul#posts a:hover {
    text-decoration: underline;
}

main#content ul#posts li a.post-title {
    font-weight: 600;
}

main#content ul#posts li a.post-title svg {
    margin-left: .2em;
    transition: all .1s;    
}

main#content ul#posts li a.post-title:hover svg {
    margin-left: .3em;
    color: #53B4FF;
}

main#content ul#posts li time, a.readmore {
    font-size: 80%;
    font-family: 'BerkeleyMono', monospace;
    text-transform: uppercase;
}

main#content ul#posts small {
    font-size: 0.8em;
    color: #66666;
}

main #homepage-showcase {
    font-size: 80%;
    margin: 0 auto 1em auto;
    clear:both;
}

.showcase-column {
    margin-bottom:3em;
}

.showcase-column h3 {
    margin:1em 0 0 0;
    padding-bottom: .5em;
    border-bottom:1px solid #CCC;
}

main div#homepage-blog {
    padding:0;
    margin:0;
}

div.site-description {
    font-weight: 600;
    padding:1em;
    border-bottom: 1px #CCC solid;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

table td, table th { text-align:end }
table td:nth-child(1), table th:nth-child(1) {text-align:start}

/* single.html styles */
main#content header#post-header h1 {
    display: block;
    font-size: 23px;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.15;
}

main#content header#post-header > div {
    display: block;
    font-size: 0.70em;
    color: #888;
}

main#content header#post-header > div .post-byline {
    font-style: italic;
}

main#content #toc {
    border: 1px solid #b1b1b1;
    border-radius: 1px;
    line-height: 26px;
    margin: 16px 0;
    padding: 9px 14px;
}

main#content #toc h4 {
    font-size: 1.06em;
    color: #3d3d3d;
    margin: 0;
}

main#content #toc nav#TableOfContents {
    margin-top: 4px;
}

main#content #toc nav#TableOfContents > ul, main#content #toc nav#TableOfContents > ol {
    margin-left: -40px;
}

main#content #toc ul, main#content #toc ol {
    font-size: 0.98em;
    margin: 0;
    padding: 0 0 0 40px;
}

main#content #toc ul {
    list-style-type: none;
}

main#content #toc ol {
    counter-reset: item;
}

main#content #toc ol li {
    display: block;
}

main#content #toc ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

main#content img {
    max-width: 100%;
    margin: 0 auto;
}

main#content figure {
    margin: 16px 0;
}

main#content figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

main#content figure figcaption {
    font-size: 0.92em;
    font-style: italic;
    line-height: 22px;
    text-align: center;
    margin-top: 6px;
    padding: 0 10px;
}

main#content figure figcaption h4 {
    font-style: normal;
    display: inline;
    margin: 0;
}

main#content figure figcaption p {
    display: inline;
    margin: 0;
    padding-left: 8px;
}

main#content .team-member {
    margin: 0 0 2em 0;
    clear: both;
}

main#content figure.teampic {
    margin: 1em auto 0 auto;
}

main#content figure.teampic img{
    border-radius:50%;
    max-width:100%;
}

main#content .team-name-title {
    text-align: center;
    max-width: 50%;
    display:block;
    margin:0 auto;
}

main#content .team-description {
    font-size: 90%;
    margin:1em 0;
}

main#content .board-member {
    width:50%;
    display: block;
    padding:0 2%;
    margin: 0 auto 2em auto;
    float: left;
    height:19em;
}

main#content blockquote {
    font-style: italic;
    margin: .5em 0 .5em 0;
    padding-left: .6em;
    border-left: 3px solid #ccc;
}

main#content code,
main#content pre,
main#content table {
    font-family: 'BerkeleyMono', monospace;
}

main#content code {
    font-size: 0.96em;
    padding: .3em .4em;
    background-color: #eeeff1;
}

main#content pre {
    display: block;
    overflow-x: auto;
    font-size: 14px;
    font-size: 1.4rem;
    white-space: pre;
    margin: 20px 0;
    padding: 1.5rem 1.5rem;
    line-height: 1.4;
}

main#content pre code {
    padding: 0;
}

main#content .footnotes {
    font-size: 0.9em;
}

footer {
    padding: .2em 0 .3em 0;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-size: 1.8rem;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

ul#funderlogos {
    padding:0;
    margin:0 0 14em 0;
    clear:both;
}

ul#funderlogos li {
    list-style-type:none;
    display:block;
    width:19%;
    height:80px;
    margin: 0 .5% 1% .5%;    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float:left;
}

ul#funderlogos li a{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    transition: none !important;
}

a#nasa {
    background-image: url('/img/funder_nasa.svg');
    background-size: 100%;
    display:block;
    width:100%;
    height:100%;
}

a#omidyar {
    background-image: url('/img/funder_omidyar.png');
    background-size: 100%;
    display:block;
    width:100%;
    height:100%;
}

a#bmgf {
    background-image: url('/img/funder_bmgf.png');
    background-size: 90%;
    display:block;
    width:100%;
    height:100%;
}

a#giz {
    background-image: url('/img/funder_giz.svg');
    background-size: 90%;
    display:block;
    width:100%;
    height:100%;
}

a#mcgovern {
    background-image: url('/img/funder_mcgovern.png');
    background-size: 90%;
    display:block;
    width:100%;
    height:100%;
}

a#schmidt {
    background-image: url('/img/funder_schmidt-futures.png');
    background-size: 100%;
    display:block;
    width:100%;
    height:100%;
}

a#vanuatu {
    background-image: url('/img/funder_vanuatu.png');
    background-size: 60%;
    display:block;
    width:100%;
    height:100%;
}

a#microsoft {
    background-image: url('/img/funder_microsoft.svg');
    background-size: 80%;
    display:block;
    width:100%;
    height:100%;
}

a#tetra_tech {
    background-image: url('/img/funder_tetra-tech.svg');
    background-size: 80%;
    display:block;
    width:100%;
    height:100%;
}

a#lacuna {
    background-image: url('/img/funder_lacuna.png');
    background-size: 90%;
    display:block;
    width:100%;
    height:100%;
}