@font-face {
  font-family: "BerkeleyMono";
  src: url("/fonts/BerkeleyMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "BerkeleyMono";
  src: url("/fonts/BerkeleyMono-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "BerkeleyMono";
  src: url("/fonts/BerkeleyMono-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "BerkeleyMono";
  src: url("/fonts/BerkeleyMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "iAWriterQuattro";
  src: url("/fonts/iAWriterQuattroS-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "iAWriterQuattro";
  src: url("/fonts/iAWriterQuattroS-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "iAWriterQuattro";
  src: url("/fonts/iAWriterQuattroS-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "iAWriterQuattro";
  src: url("/fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-size: 2.3rem;
    font-family: "iAWriterQuattro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #2f343b;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-wrap: break-word;
}

header#page-header {
/*    margin-bottom:2em;*/
}

footer {
    background-color: #eeeff1;
}

hr {
    background-color: #CCC;
    border: 0 none;
    color: #CCC;
    height: 1px;
}

header hr, main#content div.editorial-board-block hr {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    height: 0;
    clear:both;
}


iframe {
    margin:2em 0 0 0;
}

div#banner {
    padding: 1em 0 .5em 0;
}

div#logo {
    width:50%;
    background-size: 20px 30px;
    float:left;
}


a {
    color: #2126F7;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color:#3a3ef8;
}

div#banner h2 {
    display: inline;
    font-size: 1.8rem;
    margin: 0 8px 0 0;
}

div#banner nav {
    font-family: "BerkeleyMono", monospace;
    float:right;
    text-align: right;
    margin:0 0 0 0;
}

div#banner nav ul {
    list-style-type: none;
    font-size: .8em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    align-self:flex-end;
}

div#banner nav ul li {
    margin: 0 2px .5em 6px;
    display:block;
}

div#banner nav ul li:first-child.hide {
    display:none;
}

div#banner nav li a {
    padding: 4px 6px;
    text-decoration: none;
    transition: color 0.2s ease, background 0.2s ease;
    border-radius: 6px;
}

div#banner nav li:hover a {
    background: #2126F7;
    color: white;
}

div#banner nav ul li:not(:has(a)) {
    padding: 0 6px;
}

main {
    margin-bottom:2em;
}

div#banner, main#content, main#content h2, main#content h3, footer p, main ul#homepage-blog, main#content ol, main#content ul, #mc_embed_signup {
    margin-left:1em;
    margin-right:1em;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-bottom: 0;
    line-height: 1.15;
}

main#content h2 {
    font-size: 1.1em;
    margin:1.2em 0 0 0;
}

main#content h3 {
    font-size: .9em;
    margin:1.2em 0 0 0;
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 5px;
}

main#content p {
    color: #394548;
    margin: 16px 0;
}

main#content article p, main#content article li {
    font-size:.8em;
    line-height: 1.7;
}

main#content article ul {
    margin:.5em 0 1em 0;
    padding:0 0 0 1em;
} 

main#content article ul li {
    list-style-type: "- ";
    margin-bottom:.5em;
} 

main#content #aboutpage small {
    display:block;
    line-height:120%;
}

main#content hr {
    height: 1px;
    border: 0;
    background: #CCC;
}

main#content hr.top {
    height: 0;
    border: 0;
    clear:both;
    margin:0 0 2em 0;
}

main#content abbr {
    cursor: help;
}

/* index.html styles */
main#content ul#posts, main#content ul#events {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main#content ul#posts span.post-byline {
    font-size: 80%;
}

main#content ul#posts li, main#content ul#events li {
    margin: .5em 0 1.5em 0;
    padding: 0;
}

main#content ul#posts li a.post-title, main#content ul#events li a.post-title {
    font-weight: 600;
}

main#content ul#posts li time, a.readmore, span.event-meta-tip {
    font-size: 80%;
    text-transform: uppercase;
}

main#content ul#posts small {
    font-size: 0.8em;
    color: #66666;
}

main #homepage-showcase {
    font-size: 80%;
    margin: 0 auto 1em auto;
    clear:both;
}

a.home-button, div.event-cta a, div.main-cta-url a {
    font-size:80%;
    text-transform: uppercase;
    font-weight: 600;
    transition: color 0.2s ease, background 0.2s ease;
    border: 1px solid #2126F7;
    border-radius: 6px;
    text-decoration: none;
    padding: 3px 8px;
}

div.event-cta a, div.main-cta-url a {
    transition: box-shadow 0.2s ease;
    box-shadow: 0px 2px 1px #999;
}

a.home-button:after, div.event-cta a:after, div.main-cta-url a:after {
  content: " →";
}

a.home-button:hover {
    background: #2126F7;
    border: 1px solid white;    
    color: white;
}

div.event-cta a, div.main-cta-url a {
    white-space: nowrap;
    position:relative;
    font-size:1.2em;
    margin: 2em 0;
    background-color:#FFD626;
    border: 1px solid #FFD626;

}

div.event-cta a:hover, div.main-cta-url a:hover {
    box-shadow: 0 2px 4px #999;
    top:-1px;
}

div.event-cta a:active, div.main-cta-url a:active {
    box-shadow: 0 1px 0 #888;
    top:1px;
}

main#content h3.home-headline {
    font-size: 130%;    
    font-weight: 600;
    line-height: .9;
    margin-top:2em;
}

main div#homepage-blog {
    padding:0;
    margin:0;
}

div.site-description {
    font-size: 2.8em;
    font-weight: 600;
    text-shadow: 1px 1px 1px #E0DED8;
    line-height:1;
    margin-bottom:.5em;
}

div.main-cta {
    display:block;
    width:100%;
    float:right;
    padding:.5em 0 1.5em 0;
    margin:0 0 1em 0;
    line-height:1;
    border-top: 2px #FFD626 solid;    
    border-bottom: 2px #FFD626 solid;
}

span.cta-head {
    text-transform: uppercase;
    font-size: 80%;
    line-height: 2;
}

main#content div.main-cta h3 {
    margin:0;
    padding:0;
}

div.main-cta-url {
    margin:1em 0 0 0;
}

table {
  width: 100%;
  font-size: 80%;
}

table tbody {
    padding-top:1em;
}

table th {
    border-bottom: 1px black solid;
}

table td {
    padding:.5em 1.5em 1em 0;
    vertical-align:top;
}

table td:first-child {
    width:15%;
    font-weight: 600;
}
table td:last-child {
    padding:0 0 .5em 0;
    width:15%;
}

table td, table th { text-align:end }
table td:nth-child(1), table th:nth-child(1) {text-align:start}

/* single.html styles */
main#content header#post-header h1 {
    display: block;
    font-size: 43px;
    font-size: 4.3rem;
    font-weight: 600;
    line-height: 1.15;
}

main#content header#post-header > div {
    display: block;
    font-size: 0.80em;
    margin: 0 0 2em 0;
}

main#content #toc {
    border: 1px solid #b1b1b1;
    border-radius: 1px;
    line-height: 26px;
    margin: 16px 0;
    padding: 9px 14px;
}

main#content #toc h4 {
    font-size: 1.06em;
    color: #3d3d3d;
    margin: 0;
}

main#content img {
    max-width: 100%;
    margin: 0 auto;
}

main#content figure {
    margin: 16px 0;
}

main#content figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

main#content figure figcaption {
    font-size: 0.92em;
    font-style: italic;
    line-height: 22px;
    text-align: center;
    margin-top: 6px;
    padding: 0 10px;
}

main#content figure figcaption h4 {
    font-style: normal;
    display: inline;
    margin: 0;
}

main#content figure figcaption p {
    display: inline;
    margin: 0;
    padding-left: 8px;
}

main#content .team-member {
    margin: 0 0 2em 0;
    clear: both;
}

main#content figure.teampic {
    margin: 1em auto 0 auto;
}

main#content figure.editorial-board img{
    max-width:100%;
}

main#content .team-name-title {
    text-align: center;
    max-width: 50%;
    display:block;
    margin:0 auto;
}

main#content .team-description {
    font-size: 90%;
    margin:1em 0;
}

div.editorial-board-block {
    width:100%;
    display:block;
    clear:both;
}

main#content div.editorial-board-member {
    font-size: 80%;
    width:100%;
    display: block;
    clear:both;
    padding-top: 1em;
}

main#content .editorial-board-member figure {
    width:40%;
    float:left;
    display:inline;
    margin:0;
    padding-right:1em;
}

.duotone-overlay {
    position: absolute;
    background-color: #008080;
    mix-blend-mode: color;
    width: 20%;
    height: auto;
}


main#content .editorial-board-member img {
    filter: grayscale(100%) contrast(108%);    
}

div.board-name-title {
    width:60%;
    display:inline;
    float:left;    
}

main#content blockquote {
    font-style: italic;
    margin: .5em 0 .5em 0;
    padding-left: .6em;
    border-left: 3px solid #ccc;
}

main#content code,
main#content pre,
main#content table {
    font-family: 'BerkeleyMono', monospace;
}

main#content code {
    font-size: 0.96em;
    padding: .3em .4em;
/*    background-color: #eeeff1;*/
}

main#content pre {
    display: block;
    overflow-x: auto;
    font-size: 14px;
    font-size: 1.4rem;
    white-space: pre;
    margin: 20px 0;
    padding: 1.5rem 1.5rem;
    line-height: 1.4;
/*    background-color: #eeeff1;*/
    border: 1px solid #ccc;    
}

main#content pre code {
    padding: 0;
}


main#content .footnotes ol li p {
    font-size: 1em;
}

footer {
    padding: .2em 0 .3em 0;
}

footer p {
    font-size: 18px;
    font-size: 1.8rem;
}

/*Connect list styles*/
div#connect {
    font-size: 80%;
    clear:both;
    margin-top:1em;
}

div#connect h3{
    text-transform: uppercase;
    line-height: 2;
}

div#connect ul{
    margin:0;
    padding:0 0 0 1em;
}

div#connect ul li{
    padding: 0;
    margin: 0;
    list-style-type: "> ";
}

/* events/index.html styles */

main#content ul.event-meta {
    padding:0;
    margin:0 0 1em 0;
}

main#content ul.event-meta li {
    list-style-type: none;
    margin:.5em 0;
    padding:0;
}

/*Funder styles*/

div.funders {
    clear:both;
}

main#content ul#funderlogos {
    width:100%;
    padding:0;
    margin:.5em 0 1.5em 0;
    float:left;
}

ul#funderlogos li {
    list-style-type:none;
    display:block;
    width:32%;
    aspect-ratio: 2 / 1; 
    margin: 0 .5% 1em 0;    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float:left;
}

ul#funderlogos li a  {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    transition: none !important;
}

a#nasa {
    background-image: url('/img/funders/nasa.png');
    background-size: 60%;
    display:block;
    width:100%;
    height:100%;
}

a#aws {
    background-image: url('/img/funders/aws.svg');
    background-size: 40%;
    display:block;
    width:100%;
    height:100%;
}

a#columbia {
    background-image: url('/img/funders/columbia.svg');
    background-size: 90%;
    display:block;
    width:100%;
    height:100%;
}

a#hydrosat {
    background-image: url('/img/funders/hydrosat.png');
    background-size: 70%;
    display:block;
    width:100%;
    height:100%;
}

a#terradue {
    background-image: url('/img/funders/terradue.svg');
    background-size: 70%;
    display:block;
    width:100%;
    height:100%;
}

a#splunk {
    background-image: url('/img/funders/splunk.png');
    background-size: 70%;
    display:block;
    width:100%;
    height:100%;
}

a#devseed {
    background-image: url('/img/funders/devseed.svg');
    background-size: 70%;
    display:block;
    width:100%;
    height:100%;
}

a#element84 {
    background-image: url('/img/funders/element84.png');
    background-size: 70%;
    display:block;
    width:100%;
    height:100%;
}

a#sparkgeo {
    background-image: url('/img/funders/sparkgeo.svg');
    background-size: 60%;
    display:block;
    width:100%;
    height:100%;
}


a#omidyar {
    background-image: url('/img/funders/omidyar.png');
    background-size: 80%;
    display:block;
    width:100%;
    height:100%;
}

a#bmgf {
    background-image: url('/img/funders/bmgf.svg');
    background-size: 80%;
    display:block;
    width:100%;
    height:100%;
}

a#tge {
    background-image: url('/img/funders/tge.svg');
    background-size: 80%;
    display:block;
    width:100%;
    height:100%;
}

a#giz {
    background-image: url('/img/funders/giz.svg');
    background-size: 70%;
    display:block;
    width:100%;
    height:100%;
}

a#mcgovern {
    background-image: url('/img/funders/mcgovern.png');
    background-size: 90%;
    display:block;
    width:100%;
    height:100%;
}

a#schmidt {
    background-image: url('/img/funders/schmidt.svg');
    background-size: 70%;
    display:block;
    width:100%;
    height:100%;
}

a#vanuatu {
    background-image: url('/img/funders/vanuatu.png');
    background-size: 30%;
    display:block;
    width:100%;
    height:100%;
}

a#microsoft {
    background-image: url('/img/funders/microsoft.svg');
    background-size: 80%;
    display:block;
    width:100%;
    height:100%;
}

a#planet {
    background-image: url('/img/funders/planet.svg');
    background-size: 60%;
    display:block;
    width:100%;
    height:100%;
}

a#tetra_tech {
    background-image: url('/img/funders/tetra-tech.svg');
    background-size: 80%;
    display:block;
    width:100%;
    height:100%;
}

a#lacuna {
    background-image: url('/img/funders/lacuna.png');
    background-size: 90%;
    display:block;
    width:100%;
    height:100%;
}