@media (min-width: 770px) {
body {
    width: 100%;
    line-height: 1.5;
}

footer hr {
    clear:both;
}

div#banner, main#content, main ul#homepage-blog, ul#posts, footer p{
    width:80%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    clear:both;
}

main#content article {
    max-width: 60%;
}

div#banner nav {
    display: inline-block;
    float:right;
    display: flex;
    height:60px;
}

div#banner nav ul {
    margin: 0;
}

div#banner nav ul li {
    display: inline;
    margin: 0 0 .5em 1em;
}

header hr {
    margin-bottom:2em;
}

div#logo {
    margin: .2em 0 .5em 0;
    display:block;
    width:30%;
}

div#logo svg {
    width:60%;
}

/* index.html styles */
header#banner h2 {
    font-size: 25px;
    font-size: 2.5rem;
}

main #homepage h2 {
    font-size: 25px;
    font-size: 2.5rem;
    padding:1em 0 0 0;
    text-align: center;
}

div.home-hero {
    width:60%;
}


main #homepage-showcase {
    max-width: 80%;
}


.showcase-column {
    width: 33.33%;
    margin:0;
    padding: 0 1em;
    float: left;
}

div.site-description {
    width:60%;
}

div.main-cta {
    width:30%;
    margin-left:5%;
    padding:.5em 1em 1.5em 1em;
    line-height:1;
    float:right;
    border-top:none;
    border-left: 2px #FFD626 solid;
    border-bottom: 2px #FFD626 solid;
}

/* single.html styles */

main#content img {
/*    max-width: 108%;
    margin-left: -3.8%;
*/}

main#content figure {
    margin-left: -3.8%;
}

main#content figure img {
    max-width: 108%;
}

main#content pre {
    width: 108%;
    margin-left: -3.8%;
    padding: 1.5rem 2.2rem;
}

main#content .team-name-title {
    text-align: center;
    max-width: 30%;
    float:left;
    display:block;
    clear:both;
}

main#content .team-description {
    max-width: 66%;
    float:left;
    display:block;
    font-size: 90%;
    margin:0 0 10% 4%;
}

ul#funderlogos li {
    width:24%;
    aspect-ratio: 2 / 1;
    margin: 1em .5%;
}

}
