{{ define "main" }}
{{ if ne .Params.hide_cta true }} {{- partial "main-cta.html" . -}} {{ end }}
<article>
  <header id="post-header">
    <h1>{{ .Title }}</h1>
    <span class="event-when">{{ .Params.when_date | markdownify }}</span><br>
    <span class="event-when">{{ .Params.when_time | markdownify }}</span><br>
    <span class="event-where">{{ .Params.where | markdownify }}</span>
    
  </header>
    <p>{{ .Params.description | markdownify }}</p>
    <p>{{ .Params.price | markdownify }}</p>
    <span class="event-cta">{{if isset .Params "cta_url"}}<a href="{{ .Params.cta_url }}">{{end}}{{ .Params.cta_text }}{{if isset .Params "cta_url"}}</a>{{end}}</span>
  {{- .Content -}}
</article>
{{ end }}
