{{ define "main" }}
	<h1>{{ .Title }}</h1>
	<div class="post-meta">
        {{- if isset .Params "author" -}}
        <span class="post-byline">By {{if isset .Params "author_url"}}<a href="{{ .Params.author_url }}">{{end}}{{ .Params.author | markdownify }}{{- if isset .Params "author_url" -}}</a>{{- end -}}{{- if isset .Params "author_title" -}}, {{ .Params.author_title | markdownify }}{{- end -}}</span>
        {{- end -}}<br>
        {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
                <time>Last updated {{ .Date | time.Format "02 January 2006" }}</time>
            {{ else }}
                <time>{{ .Lastmod | time.Format "02 January 2006" }}</time>
            {{ end }}
        {{- end -}}
        </div>
	
	{{- /* Show posts for current year (2025) */ -}}
	{{- $currentYear := "2025" -}}
	{{- $currentYearPages := where .Site.RegularPages "Section" "blog" -}}
	{{- $currentYearPages = where $currentYearPages "File.Dir" (printf "blog/%s/" $currentYear) -}}
	
	{{- if $currentYearPages -}}
		<h2>{{ $currentYear }} Posts</h2>
		<ul id="posts">
			{{ range $currentYearPages }} {{ .Render "li" }}
			{{- end }}
		</ul>
	{{- end -}}
	
	{{- /* Determine if this is a year archive page or main blog page */ -}}
	{{- $isYearArchive := false -}}
	{{- if .File.Dir -}}
		{{- $isYearArchive = ne .File.Dir "blog/" -}}
	{{- end -}}
	
	{{- if not $isYearArchive -}}
		{{- /* Show archive links for previous years (main blog page only) */ -}}
		{{- $archiveYears := slice "2024" "2023" -}}
		{{- $hasArchives := false -}}
		{{- range $archiveYears -}}
			{{- $year := . -}}
			{{- $yearPages := where $.Site.RegularPages "Section" "blog" -}}
			{{- $yearPages = where $yearPages "File.Dir" (printf "blog/%s/" $year) -}}
			{{- if $yearPages -}}
				{{- $hasArchives = true -}}
			{{- end -}}
		{{- end -}}
		
		{{- if $hasArchives -}}
			<h2>Archives</h2>
			<ul>
				{{- range $archiveYears -}}
					{{- $year := . -}}
					{{- $yearPages := where $.Site.RegularPages "Section" "blog" -}}
					{{- $yearPages = where $yearPages "File.Dir" (printf "blog/%s/" $year) -}}
					{{- if $yearPages -}}
						<li><a href="/blog/{{ $year }}/">{{ $year }} ({{ len $yearPages }} posts)</a></li>
					{{- end -}}
				{{- end -}}
			</ul>
		{{- end -}}
	{{- else -}}
		{{- /* Show links to other years (year archive pages only) */ -}}
		{{- $currentYear := .File.Dir | replaceRE "blog/([0-9]+)/" "$1" -}}
		{{- $allYears := slice "2025" "2024" "2023" -}}
		{{- $otherYears := slice -}}
		{{- range $allYears -}}
			{{- if ne . $currentYear -}}
				{{- $otherYears = $otherYears | append . -}}
			{{- end -}}
		{{- end -}}
		
		{{- $hasOtherYears := false -}}
		{{- range $otherYears -}}
			{{- $year := . -}}
			{{- $yearPages := where $.Site.RegularPages "Section" "blog" -}}
			{{- $yearPages = where $yearPages "File.Dir" (printf "blog/%s/" $year) -}}
			{{- if $yearPages -}}
				{{- $hasOtherYears = true -}}
			{{- end -}}
		{{- end -}}
		
		{{- if $hasOtherYears -}}
			<h2>Other Years</h2>
			<ul>
				<li><a href="/blog/">All Posts</a></li>
				{{- range $otherYears -}}
					{{- $year := . -}}
					{{- $yearPages := where $.Site.RegularPages "Section" "blog" -}}
					{{- $yearPages = where $yearPages "File.Dir" (printf "blog/%s/" $year) -}}
					{{- if $yearPages -}}
						<li><a href="/blog/{{ $year }}/">{{ $year }} ({{ len $yearPages }} posts)</a></li>
					{{- end -}}
				{{- end -}}
			</ul>
		{{- end -}}
	{{- end -}}
{{ end }}
