<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ if .Params.summary }}{{ .Params.summary | safeHTML }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Cloud-Native Geospatial Foundation{{ end }}">
    
    {{- /* DNS prefetch for external resources - do this first */ -}}
    <link rel="dns-prefetch" href="https://cdn.vercel-insights.com">
    
    {{- /* Preload critical fonts */ -}}
    <link rel="preload" href="/fonts/iAWriterQuattroS-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/BerkeleyMonoVariable-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    
    {{- /* Prefetch likely next pages for instant navigation */ -}}
    {{ if .IsHome }}
    <link rel="prefetch" href="/about/">
    <link rel="prefetch" href="/blog/">
    <link rel="prefetch" href="/join/">
    {{ else if eq .Section "blog" }}
    {{- /* From blog, users likely go to other posts or home */ -}}
    <link rel="prefetch" href="/">
    {{ else if .IsPage }}
    {{- /* From any page, prefetch blog and home */ -}}
    <link rel="prefetch" href="/">
    <link rel="prefetch" href="/blog/">
    {{ end }}
    
    {{- /* Main CSS file */ -}}
    {{ $mainCSS := resources.Get "css/main.css" | minify }}
    <link rel="stylesheet" href="{{ $mainCSS.RelPermalink }}">
    
    {{- /* Syntax highlighting CSS - only load on blog posts or pages with highlight: true */ -}}
    {{ if or .Params.highlight (eq .Section "blog") -}}
        {{ $syntaxCSS := resources.Get "css/syntax.css" | minify }}
        <link rel="stylesheet" href="{{ $syntaxCSS.RelPermalink }}">
    {{ end -}}
    
    {{- /* Favicons and app icons */ -}}
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    
    {{- /* RSS feed */ -}}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    
    {{- /* OpenGraph metadata */ -}}
    {{- partial "opengraph.html" . -}}
    
    <link rel="canonical" href="{{ .Permalink }}" />
    <title>{{ .Title }}{{if not .IsHome}} | {{ .Site.Title }} {{end}}</title>
</head>
