<hr>
<h2>Connect with us:</h2>
<ul>
  <li>Join <a href="https://join.slack.com/t/cloudnativegeo/shared_invite/zt-235w8flfo-TW5Tpi1sPqQFWeMy~7ROHA">our Slack</a></li>
  <li>Follow us <a href="https://www.linkedin.com/company/cloudnativegeo/">on LinkedIn</a></li>
  <li>Follow us <a href="https://github.com/cloudnativegeo">on GitHub</a></li>
  <li>Follow us <a href="https://twitter.com/cloudnativegeo">on X</a></li>
  <li>Subscribe to <a href="/blog">our blog</a></li>
  <li>Sign up for our mailing list:</li>  
</ul>
  {{- partial "email-signup.html" . -}}

