<p>Our work is made posible by our funders, which include:</p>
<ul id="funderlogos">
	<li><a href="https://omidyar.com" id="omidyar">Omidyar Network</a></li>
	<li><a href="https://www.gatesfoundation.org/" id="bmgf">Bill & Melinda Gates Foundation</a></div></li>	
	<li><a href="https://www.giz.de" id="giz">GIZ</a></li>
	<li><a href="https://www.mcgovern.org" id="mcgovern">Patrick J. McGovern Foundation</a></li>
	<li><a href="https://www.schmidtfutures.com" id="schmidt">Schmidt Futures</a></li>
	<li><a href="https://planetarycomputer.microsoft.com" id="microsoft">Microsoft</a></li>		
	<li><a href="https://www.gov.vu" id="vanuatu">Government of Vanuatu</a></li>
	<li><a href="https://lacunafund.org" id="lacuna">Lacuna Fund</a></li>
	<li><a href="https://nasa.gov" id="nasa">NASA</a></li>	
	<li><a href="https://www.tetratech.com" id="tetra_tech">Tetra Tech</a></li>	
</ul>



