<header id="page-header">
  <div id="banner">
    <nav>
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main.ByWeight -}}
        <li {{ if $.HasMenuCurrent .Menu . }}class="current"{{ end }}>
          {{ .Pre }}{{ if not ($currentPage.IsMenuCurrent "main" .) }}<a href="{{ .URL }}" title="{{ humanize .Title }}">{{ end }}{{- humanize .Name -}}{{ if not ($currentPage.IsMenuCurrent "main" .) }}</a>{{ end }}{{ .Post }}
        </li>
        {{- end }}
      </ul>
    </nav>
    <div id="logo">
      {{ if ne .IsHome true }}<a href="{{ .Site.BaseURL }}">{{ end }}
        {{ partial "logo.html" . }}
      {{ if ne .IsHome true }}</a>{{ end }}
    </div>
  </div>  
</header>