<div id="homepage-showcase">
	<h2>Our initiatives</h2>
	<div class="showcase-column">
		<h3>Radiant MLHub</h3>
		<p>Radiant MLHub is an library dedicated to open Earth observation training data for use with machine learning algorithms.</p>
		<p>Access open datasets and machine learning models from NASA, Planet, University of Maryland and others at <a href="https://mlhub.earth">https://mlhub.earth</a></p>
	</div>
	<div class="showcase-column">
		<h3>STAC</h3>
		<p>The SpatioTemporal Asset Catalogs (STAC) metadata specification is a common language to describe geospatial information to make it more accessible and interoperable.</p>
		<p>Learn more about STAC at <a href="https://stacspec.org/">https://stacspec.org/</a></p>
	</div>
	<div class="showcase-column">
		<h3>Machine Learning Challenges</h3>
		<p>We help organize challenges to create capacity building opportunities and accelerate development of machine learning models to interpret Earth observation data.</p>
		<p>Learn about our current <a href="https://zindi.africa/competitions/nasa-harvest-field-boundary-detection-challenge">NASA Harvest Field Boundary Detection Challenge</a>.</p>
	</div>
</div>