<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{- partial "head.html" . -}}
<body>
  {{- partial "header.html" . -}}
  <main id="content">
    {{- block "main" . }}{{- end }}
    {{- partial "connect.html" . -}}
  </main>
  {{- partial "footer.html" . -}}
  <script>
    window.si =
      window.si ||
      function () {
        (window.siq = window.siq || []).push(arguments);
      };
  </script>
  <script defer src="/_vercel/speed-insights/script.js"></script>
  <script>
    window.va =
      window.va ||
      function () {
        (window.vaq = window.vaq || []).push(arguments);
      };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>
</body>
</html>
