{{ define "main" }}
{{ if ne .Params.hide_cta true }} {{- partial "main-cta.html" . -}} {{ end }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        <div class="post-meta">
        {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
                <time>{{ .Date | time.Format (i18n "post.created") }}</time>
            {{ else }}
                <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
            {{ end }}
        {{- end -}}<br>
        {{- if isset .Params "author" -}}
        <span class="post-byline">By {{if isset .Params "author_url"}}<a href="{{ .Params.author_url }}">{{end}}{{ .Params.author | markdownify }}{{- if isset .Params "author_url" -}}</a>{{- end -}}{{- if isset .Params "author_title" -}}, {{ .Params.author_title | markdownify }}{{- end -}}</span>
        {{- end -}}
        </div>
    </header>
    {{- .Content -}}
    {{ if eq .Section "blog" }}
      <hr>
    <p>Our blog is open source. You can <a href="https://github.com/cloudnativegeo/cloudnativegeo.org/blob/main/content/blog/{{ .File.LogicalName }}">suggest edits on GitHub</a>.</p>
    {{end}}

</article>
{{ end }}
